<ul class="nav nav-pills avbar navbar-light" style="background-color: #e3f2fd; ">
  <li class="nav-item">
  <!--Enlazando la pagina root al navbar-->
    <a class="nav-link active" href="<%=root_path%>"> HOME </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%=pages_two_path%>"> Pagina2</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="<%=pages_three_path%>">Pagina3</a>
  </li>

</ul>



